section.contact {
	h2{
		background: $middle;
		color: $light;
		padding: 80px 0px 60px;
		text-align: center;
		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 1px;
			background: $accent;
			margin: 20px auto;
		}
	}
}

.contactContent {
	display: flex;
	flex-direction: row;
	background: $dark;
	.headshot {
		width: 40%;
		height: auto;
		background-size: cover;
		background-position: center;
		position: relative;
		.headshot-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: RGBA(235,99,148,0.1);
		}
	}
	.form {
		padding: 50px;
		h3 {
			margin: 30px 0px;
		}
		p {
			color: white;
		}
		
		input, textarea {
			background: $dark;
			border: none;
			border-bottom: 1px solid white;
			resize: none;
			color: white;
			margin: 10px 0 20px;
    		height: 45px;
    		width: 100%;
    		font-size: 3rem;
    		font-weight: 200;
    		font-family: $robo;
    		padding: 10px;
    		transition: all 1s ease;
			&:focus, &:active{
				outline: none;
				// background-color: $middle;
				border-bottom: 2px solid $accent;
			}
		}
		textarea {
			&:focus, &:active{
				height: 135px;
			}

		}
		input[type=submit]{
			border-top: 1px #fff solid;
    		padding: 20px 0px 40px;
    		width: 25%;
    		margin: 0 auto;
    		text-align: center;
    		float: right;
    		font-size: 2rem;
    		transition: all 1s ease;
    		&:hover, &:focus {
				background-color: $accent;
				border-top: 1px $dark solid;
				border-bottom: 1px $dark solid;

    		}
		}
		input.submitted{
			
		}
		label {
			position: relative;
			top:40px;
			z-index: 5;
			transition: all 1s ease;
			font-size: 2.5rem;
			}

		label.hello {
			top:0px;
			font-size: 2rem;
		}
	}
}

div.wpcf7-response-output {
	border: 2px solid black;
	margin: 0px;
    padding: 0px; 
}
span.wpcf7-not-valid-tip {
	color: $accent;
}






