
section.portfolio {
	width: 100%;
	h4 {
		font-size: 2.5rem;
		padding: 0px 0px 20px 0px;
		text-transform: uppercase;
		font-family: $source-code;
	}
	p, h4 {
		padding: 0px 0px 20px 0px;
	}
	p  {
		font-size: $mediumtext;
		font-family: $robo;
		line-height: 1.7;
	}
	button {
		background: $accent;
		color: $light;
		border: none;
		padding: 10px;
		font-size: 2rem;
		margin: 0px 10px;
		text-transform: uppercase;
	}
	p.skills {
		text-transform: uppercase;
		font-style: italic;
		font-family: $source-code;
		font-size: 2rem;
	}

}
section.piece {
	display: flex;
	flex-direction: row;
	.portfolioInfo{
		padding: 10% 5%;
		position: relative;
		&:after{
			content: '';
			display: block;
			position: absolute;
			background: transparent;
			right: -23%;
			top:0;
			width: 0; 
			height: 0; 
			border-width: 80px;
			border-style: solid;
			border-top-color: transparent;
			border-bottom-color: transparent;

		}
	}
	.portfolioImage {
		background-repeat: none;
		background-position: center;
		background-size: cover; 
	}
	.portfolioImage, .portfolioInfo {
		width: 50%;
		img {
			width: 100%;
			display: block;
		}
	}
	&:nth-of-type(3n+1){
		.portfolioInfo {
			background-color: currentColor;
			color: $middle;
			&:after{
				border-right-color: transparent;
				border-left-color: currentColor;
			}
			h4 {
				color: $dark;
			}
			p {
				color: $light;
			}
			p.skills {
				color: $accentLight;
			}
		}
	}
	&:nth-of-type(3n+2){
		.portfolioInfo {
			background-color: currentColor;
			color: $light;
			&:after{
				border-right-color: transparent;
				border-left-color: currentColor;
			}
			h4 {
				color: $middle;
			}
			p {
				color: $dark;
			}
			p.skills {
				color: $accentLight;
			}
		}

	}
	&:nth-of-type(3n+3){
		.portfolioInfo {
			background-color: currentColor;
			color: $dark;
			&:after{
				border-right-color: transparent;
				border-left-color: currentColor;			
			}
			h4, button {
				color: $light;
			}
			p {
				color: $middle;
			}
			p.skills {
				color: $accentLight;
			}
		}
	}
	&:nth-of-type(2n+1){
		.portfolioInfo {
			order: -1;
		}
	}
	&:nth-of-type(2n){
		.portfolioInfo::after {
			left:-23%;	
			border-right-color: currentColor;
			border-left-color: transparent;
		}
	}
}