.skill {
	width: 50%;
	float: left;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
	
.skill:nth-of-type(2n) .skillImage{
	order: -1;
}

.skillImage {
	position: relative;

}

.bgShape{
	background: $accent;
    width: 80px;
    height: 42px;
    position: absolute;
    top: 43px;
    left: 23px;
    transform: rotate(90deg);
}
.bgShape:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0px;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 26px solid $accent;
}
.bgShape:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0px;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 26px solid $accent;
}


.skill:nth-of-type(2n+1) {
	text-align: right;
	justify-content: flex-end;
}


div.svgImage{
	width: 65px;
    margin: 30px;
    padding: 10px;
    z-index: 4;
    position: relative;
}

.interests {
	padding-top: 65px;
}


div.skills-interests {
	h3 {
		padding-bottom: 3px;
	}
}